*{
margin:0;
padding:0;
}


body{
  background-image: url(../assets/paper2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}


#wrapper {
    width: 100%;
    height: 100%;
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
} 


.biobg {
  overflow: hidden;
}
/* Header and Footer */
.header {
    background-color: #222;
    text-align: center;
}
.image {
  filter: invert(100%);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
}
/* Social Media icons */
.fa {
  padding: 20px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Heading Styling */ 
h1 {
  color: white;

}
h1.ED {
  float: left;
}
h1.AW {
  float: right;
}
h1.AL {
  float: left;

}
h1.TS {
  float:right;
}
/* CSS for images on Biography page */
img.ED {
  width:25%;
  height:25%;
  float: left; 
}
img.AW {
  width:25%;
  height:25%;
  float: right;
}
img.AL {
  width:15%;
  height:15%;
  float: left;
}
img.TS{
  width:25%;
  height:25%;
  float: right;
}

.columnone{
float:left;
}
.columntwo{
  float:right;
}

/* CSS for Biography buttons */
.myBtn {
color: white;
}

.myBtnED {
  color: white;
  float: left;
  font-size: 25px;
  text-decoration: underline;
}

.myBtnAW {
  color: white;
  float: right;
  font-size: 25px;
  text-decoration: underline;
}

.myBtnAL {
  color: white;
  float: left;
  font-size: 25px;
  text-decoration: underline;
}

.myBtnTS {
  color:white;
  float:right;
  font-size: 25px;
  text-decoration: underline;
}
/* Modal Boxes */
.overlayED {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(41, 1, 1, 0.2);
  display:none;
}
.inside {
  transform: translate(20%, 50%);
  background-color: white;
  height: 50%;
  width: 70%;
}

.overlayAW {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(41, 1, 1, 0.2);
  display:none;
}

.overlayAL {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(41, 1, 1, 0.2);
  display:none;
}

.overlayTS {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(41, 1, 1, 0.2);
  display:none;
}


/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #555;
}

p {
  color: white;
}

/*Embedded Video */
.youtubevideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/* Form */

input[type=text], select, textarea {
    width: 99%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white
  }
  
  input[type=submit] {
    background-color: #555;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #111;
    }
    
  .container-ml {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  /* Makes the tour date widget have white text */
  .bit-widget a {
    color: white !important; 
  }

  .bit-widget {
    color: white !important;
  }

