
body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
} 
.image {
    filter: invert(100%);
}
.header {
    background-color: #222;
    text-align: center;
}
h1 {
  color: white;

}
h1.ED {
  float: left;
}
h1.AW {
  float: right;
}
h1.AL {
  float: left;

}
h1.TS {
  float:right;
}
img.ED {
  width:25%;
  height:25%;
  float: left; 
}
img.AW {
  width:25%;
  height:25%;
  float: right;
}
img.AL {
  width:15%;
  height:15%;
  float: left;
}
img.TS{
  width:25%;
  height:25%;
  float: right;
}
.columnone{
float:left;
}
.columntwo{
  float:right;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #555;
}

p {
  color: white;
}

/*Embedded Video */
.youtubevideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/* Form */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white
  }
  
  input[type=submit] {
    background-color: #555;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #111;
    }
    
  .container-ml {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* Slideshow */
  .mySlides {display:none;}
  

  .tourdates {
color: white;
background-color: #111;
  }

  .bit-widget a {
    color: white !important; 
  }

  .bit-widget {
    color: white !important;
  }

/* shop */

